
.blank-avatar {
  background-color: #262626;
  border-radius: 50%;
  display: inline-block;
}

.sidebar .blank-avatar {
  width: 24px;
  height: 24px;
}

.right-sidebar .user-avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
}

.right-sidebar .suggestion-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.message-bar-avatar.blank-avatar {
  width: 24px;
  height: 24px;
  border: 2px solid #262626;
}
